.coafior-article{
    background-image: url('https://thumbs.dreamstime.com/z/various-hair-dresser-tools-wooden-background-copy-space-123969993.jpg');
    background-repeat: no-repeat;
    
}

#coafiorSection{
   
    margin: 100px 100px;
    max-width: 80%;
    align-items: center;
}

#pCoaf{
    align-items: center;
}

#createCoafiorPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#createCoafiorPost > a {
    margin: 5px 5px;
    padding: 5px 5px;
    align-items: center;
    border:solid 1px black;
    border-radius: 8px;
    color: black;
}