

.masters{
    background-image: url('../../../foto/IMG_8906.jpg');  
    background-size: 100% 100%;
    filter: invert(100%);    
    margin-left: 0;
    margin-right: 0;
    max-width:100%; 
    height:100vh;
    position: relative;

}

#coafior{
    filter: invert(1);
    width: 250px;
    height: 250px;
    border-radius: 150px;
    position: absolute;
    top: 52px;
    left: 120px;
}
article.coafior > a > p > h1{
    color: black;
    text-shadow: 2px -3px 2px white;
    position: absolute;
    top: 16px;
    left: 68px;
}


#nails{
    filter: invert(1);
    width: 250px;
    height: 250px;
    border-radius: 150px;
    position: absolute;
    top: 440px;
    left: 315px;
}





.name-manicurist{
    color: black;
    text-shadow: 2px -3px 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 360px;
    left: 322px;
}