.section-edit{
    width: 100vw;
    height: 100vh;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/19/38/54/1000_F_219385465_IQgSvWCyRjA0aR3nFffCqkDfjuCC85NG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#edit-form-coafior-post{
    display: flex;
    flex-direction: column;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/19/38/54/1000_F_219385465_IQgSvWCyRjA0aR3nFffCqkDfjuCC85NG.jpg');
    height: 430px;
    width: 630px;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    transform: translate(75%, 25%);
    justify-content: space-evenly;
    align-items: center;
}