.section-contacts{
    background-image: url('https://disk.bg/index.php/apps/files_sharing/ajax/publicpreview.php?x=1920&y=505&a=true&file=IMG_8670.jpg&t=j4PM5yX92v8kYq7&scalingup=0');


    background-repeat: no-repeat;
    height: 400px; 
    width: 400px;
    background-position: center;
}