


article.contacts{
    background-image: url('https://disk.bg/index.php/apps/files_sharing/ajax/publicpreview.php?x=1920&y=505&a=true&file=IMG_0990.jpg&t=f1bj0Q5WB53XIr1&scalingup=0');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw;
    background-position: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    
}






.section-contacts-map{
    background-image: url('https://disk.bg/index.php/apps/files_sharing/ajax/publicpreview.php?x=1920&y=505&a=true&file=IMG_8670.jpg&t=j4PM5yX92v8kYq7&scalingup=0');


    background-repeat: no-repeat;
    height: 400px; 
    width: 400px;
    background-position: center;
    border: solid 2px black;
    border-radius: 10px;
    max-width: 50%;
}

.section-contacts-text{
    max-width: 50%;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

